.root{
    -fx-background-color:#539E8A;
}

#nextButton{
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill:"#7e7e7e";

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#backButton {
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill:"#7e7e7e";

        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#nextButton:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 30;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#backButton:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 30;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#foglalasButton {
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill:"#7e7e7e";

        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#textBackground{
    -fx-background-color:#b6d8cf;
}
