.root{
    -fx-background-color:#539E8A;
}

#nextButton{
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill:"#7e7e7e";

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#backButton {
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill:"#7e7e7e";

        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#foglalasButton {
    -fx-background-color: linear-gradient(#e4e4e4, #e6e6e6);
        -fx-background-radius: 30;
        -fx-background-insets: 0;
        -fx-text-fill:"#7e7e7e";

        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
}

#textBackground{
    -fx-background-color:#b6d8cf;
}

#backgroundimg {
    -fx-background-image: url=("logo.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300 300;
    -fx-background-position: center center;
}